<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- INTERNET es obligatorio en release: todo el tráfico HTTP/Supabase
         pasa por dart:io. Los manifiestos debug/profile lo agregan solo para
         desarrollo; sin esta declaración el APK de release quedaría sin red. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- Ubicación obligatoria: la dirección de entrega necesita coordenadas
         verificables (GPS del dispositivo o geocodificación server-side).
         Se solicita en runtime vía geolocator. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- Cámara para fotografiar la pieza (solicitudes) y el repuesto ofertado
         (cotizaciones). Se solicita en runtime vía permission_handler antes
         de invocar image_picker. required="false" para que Google Play NO
         filtre dispositivos sin cámara (el permiso CAMERA implica el feature). -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <!-- Sin android:name: no hay Application custom (MainActivity : FlutterActivity).
         Se omite a proposito: el placeholder  del template no se
         sustituye con AGP 9.0.1 (el merger emite android:name="" y AAPT falla).
         Omitirlo equivale a android.app.Application (ver BaseApplicationNameHandler). -->
    <application
        android:label="repuestosya"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
